# URL Dasar API Backend
# Gunakan http://localhost:8000/api/v1 untuk pengembangan lokal tanpa Docker
# Gunakan http://lms-api.web.local/api/v1 jika menggunakan setup domain lokal
VITE_API_BASE_URL=http://lms-api.web.local/api/v1
PORT=9000
